tunnel: {{ tunnel_uuid }}
credentials-file: {{ credentials_file }}
ingress:
{% for agent in agents %}
  - hostname: {{ tunnel_hostname }}
    path: ^/tg/{{ agent.name }}$
    service: unix:{{ agent.socket_path }}
  - hostname: {{ tunnel_hostname }}
    path: /oauth/{{ agent.name }}/callback
    service: unix:{{ agent.socket_path }}
{% endfor %}
  - service: http_status:404
